{% extends 'base.html' %}

{% block extra_css %}
<style>
.segno {
    background: #fff
}
</style>
{% endblock extra_css %}


{% block content %}
<h1>
    Room {{object}}
</h1>
<hr>

<h2>
    My QR:
</h2>
{{object.paired_qr.first.qr_svg_string|safe}}
<br>chat link {{object.paired_qr.first.chat_room_link}}
<br>
<a href="{{object.paired_qr.first.chat_room_link}}" target="blank">
    otevrit chat
</a>


<h2>
    QR buddy:
</h2>
{{object.paired_qr.last.qr_svg_string|safe}}
<br>chat link {{object.paired_qr.last.chat_room_link}}
<br>
<a href="{{object.paired_qr.last.chat_room_link}}" target="blank">
    otevrit chat
</a>

{% endblock content %}
