{% extends 'base.html' %}


{% block extra_css %}
    <style>
        svg.segno {
            background: #fff;
        }
        .admin-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            justify-items: stretch;
            align-items: stretch;
         }
         .button-delete {
            background-color: var(--pico-del-color);
            border-color: var(--pico-del-color);
         }
    </style>
{% endblock extra_css %}


{% block content %}
<div class="container">
    <h1>
        Room List
    </h1>
     <a role="button" href="{% url 'administration:create_room' %}">
        + Add Room
    </a>
</div>

<main class="container grid admin-grid">
    {% for obj in object_list %}
    
    <article class="card">
        <header>
            <strong>
                {{obj.pk}}
            </strong>

        </header>
        <div role="">
            {% for qr_code in obj.get_qr_codes %}
                {{ qr_code.qr_svg_string|safe }}
            {% endfor %}
        </div>

        <footer role="group">
        {% comment %}links to chat room{% endcomment %}
            {% for qr_code in obj.get_qr_codes %}
            <a role="button" href="{{qr_code.chat_room_link}}">
                QR {{ forloop.counter }}
            </a>
            {% endfor %}
            <a role="button" class="button-delete" href="{% url "administration:delete_room" obj.pk %}">Delete</a>
        </footer>
    </article>
    {% endfor %}
</main>
{% endblock content %}
