{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<style>
    textarea {
        min-height: 30vw;
        max-height: 80vw;
    }
    #invalid-helper {
        color: var(--pico-form-element-invalid-focus-color);
    }
    #chat {
        
    }
    .me, .buddy {
        width: fit-content;
    }
    .conntainer-me {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .container-buddy {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .me {
        background-color: var(--pico-primary-background);
        border: 2px solid var(--pico-primary-border);
    }
    .buddy {
        background-color: var(--pico-secondary-background)
    }
</style>
{% endblock extra_css %}


{% block content %}
<div class="container">

    <h2>
        chat room
    </h2>

    <div class="row">
        
        <article id="chat"></article>
        
        {% comment %} <textarea id="chat-log" readonly></textarea> {% endcomment %}
    </div>

    <form id="chat-form" method="POST" action="{% url 'chat:send_message' %}">
        {% csrf_token %}

        <fieldset role="group">
            {{chat_form.message}}
            <input id="chat-message-submit" type="button" value="Send" disabled>
        </fieldset>
        <small id="invalid-helper"></small>
    </form>
</div><!--/container-->

{{ room_name|json_script:"room-name" }}
{{ user_id|json_script:"user-id" }}
{{ history|json_script:"history" }}

{% endblock content %}



{% block extra_js %}
    <script src="{% static 'js/chat.js' %}"></script>
{% endblock extra_js %}
    