<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="color-scheme" content="light dark" />
    <title>Chat Room</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <style>
        textarea {
            min-height: 30vw;
            max-height: 80vw;
        }
    </style>
</head>
<body>


    <div class="container">

        <h2>
            chat room
        </h2>

        <div class="row">
            <textarea id="chat-log" readonly></textarea>
        </div>
        <form>
            <fieldset role="group">
                {{chat_form.message}}
                <input id="chat-message-submit" type="button" value="Send" disabled>
            </fieldset>
<!--            <small id="invalid-helper">Please provide a valid value!</small>-->
        </form>



    </div>

    {{ room_name|json_script:"room-name" }}
    {{ user_id|json_script:"user-id" }}
    {{ history|json_script:"history" }}

    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const userId = JSON.parse(document.getElementById('user-id').textContent);
        const history = JSON.parse(document.getElementById('history').textContent);
        const chatLog = document.querySelector('#chat-log');
        const messageInputDom = document.querySelector('#chat-message-input');
        const chatSubmitButton = document.querySelector('#chat-message-submit');

        messageInputDom.addEventListener('input',  (event) => {
            chatSubmitButton.disabled = true;
            if (
                !(
                    event.target.value == '' ||
                    event.target.value == this.defaultValue ||
                    !event.target.value.replace(/\s/g, '').length
                )
            ) {
                chatSubmitButton.disabled = false;
            }
        })

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
            + userId
            + '/'
        );

        chatLog.value = ''
        history.forEach(element => {
            chatLog.value += ('[' + element.sender_id + ']:' + element.message + '\n');
        });

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            chatLog.value += ('[' + data.sender + ']:' + data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        messageInputDom.focus();
        messageInputDom.onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                chatSubmitButton.click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'sender': userId,
            }));
            messageInputDom.value = '';
            chatSubmitButton.disabled = true;
        };
    </script>
</body>
</html>
