{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/chatroom.css' %}">
{% endblock extra_css %}


{% block content %}
<main class="container">

    <article id="error">
        Chat socket closed unexpectedly. Please refresh the page.
    </article>

    <div class="row">
        <section id="chat">
        {% comment %} 
            Chat history is displayed here 
        {% endcomment %}
        </section>
    </div>

    <form id="chat-form" method="POST" action="{% url 'chat:send_message' %}">
        {% csrf_token %}

        <fieldset role="group">
            {{chat_form.message}}
            <input id="chat-message-submit" type="button" value="Send" disabled>
        </fieldset>
        <small id="invalid-helper">
            {% comment %} 
                Space to display validation errors in
            {% endcomment %}
        </small>
    </form>
</main><!--/container-->

{{ room_name|json_script:"room-name" }}
{{ user_id|json_script:"user-id" }}
{{ history|json_script:"history" }}

{% endblock content %}



{% block extra_js %}
    <script src="{% static 'js/chat.js' %}"></script>
{% endblock extra_js %}
    