<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="color-scheme" content="light dark">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <title>
        {% block title %}
            QR Buddy
        {% endblock %}
    </title>
    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block content %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock content %}

    {% block extra_js %}
        {# Override this in templates to add extra javascript #}
    {% endblock %}
</body>
</html>
