<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="color-scheme" content="light dark">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/pico.min.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>
        {% block title %}
            QR Buddy
        {% endblock %}
    </title>
    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block content %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock content %}

    {% block extra_js %}
        {# Override this in templates to add extra javascript #}
    {% endblock %}
</body>
</html>
